
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;
 }

body {
   font-size: 14px;
   font-family: 'Lora', serif;
   text-rendering: optimizeLegibility;
   background-color: white;
}

h2, h3, h4 {
   font-family: 'Karla', sans-serif;
   text-align: center;
}

h2 {
   padding-bottom: 10px;
}

ul {
   list-style: none;
}

a {
   display: inline;
   text-decoration: none;
   color: rgb(49,55,81);
}

#header-panel{
   display: grid;
   width: 100%;
   height: 100vh;
   grid-template-columns: 1fr 7fr;
   grid-template-rows: 2fr 1fr;
   background-image: url(./assets/theme/abstract-blur.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.9;
}
.header-text {
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 34px;
    line-height: 10rem;
    opacity: 0.2;
    position: relative;
    padding-top: 25px;
    z-index: 2;
    grid-area: 2 / 1 / 3 / 3;
 }

#down-arrow {
    width: 35px;
    opacity: 0.6;
 }

.nav {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   transition: left 300ms ease;
   text-align: left;
   position: fixed;
   top: 0;
   left: -100vw;
   background-color: rgba(255,255,255, 0.8);
   padding: 20px;
 }

.open .nav {
   left: 0;
}

.open #hamburger {
   opacity: 0;
   transition: 300ms ease;
}

.close {
   text-align: left;
   font-size: 2 rem;
   color: rgb(49,55,81);
   background-color: transparent;
   border: none;
   padding: 10px;
}


#hamburger {
   font-size: 30px;
   padding: 10px 15px;
   position: fixed;
   z-index: 1;
   color: white;
   background-color: transparent;
   outline: 0;
   border: 0;
}

.dropdown-item {
   padding: 15px 10px 15px 30px;
   font-family: 'Fjalla One', sans-serif;
   letter-spacing: 0.2rem;
   z-index: 10;
}

.dropdown-item:hover {
   background-color: rgba(255,255,255, 0.95);
   font-weight: 800;
   transition: all 400ms ease;
}

.section-description {
   color:rgba(205,152,185, 0);
   font-family: 'Homemade Apple', cursive;
   text-transform: lowercase;
   font-size: 14px;
}

.section-description:hover {
   color:rgba(205,152,185, 0.9);
   transition: all 300ms ease;
   z-index: 10;
}   

.about {
   position: relative;
   margin: 25px;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 1fr 6fr;
}

.about h2 {
   position: absolute;
   top: 5px;
   grid-area: 2 / 1 / 3 / 2;
   text-shadow: 0.5px -0.5px rgba(28,26,77,0.5);
}

.about h3 {
   position: absolute;
   padding-left: 30px;
   bottom: 5px;
   text-align: center;
   grid-area: 1 / 1 / 2 / 2;
   font-size: 18px;
}
.about p {
   text-align: justify;
   text-indent: 30px;
   padding: 10px;
   padding-top: 20px;
   grid-area: 3 / 1 / 4 / 3;
}

#my-picture {
   display: inline;
   width: 150px;
   image-rendering: pixelated;
   border-radius: 100px;
   grid-area: 1 / 2 / 3 / 3;
} 

.portfolio {
   height: 100%;
   padding-top: 30px;
}

.project-flexbox {
   height: 100%;
   padding: 20px 10px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.project-thumbnail {
   position: relative;
   width: 25vw;
   margin: 10px;
   border: 1px solid white;
   border-radius: 4px;
}

.project-image {
   width: 100%;
   border-radius: 4px;
   justify-content: center;
}

.project-description {
   position: absolute;
   bottom: 0px;
   height: 100%;
   border-radius: 4px;
   text-align: center;
   padding: 5px;
   padding-top: 30px;
   ont-family: 'Lora', serif;
   color: transparent;
}

.project-description:hover {
   color: white;
   background: rgba(6,2,80,0.8);
   background: linear-gradient(180deg, rgba(34,24,18,0.9) 0%, rgba(235,215,228,0.6) 70%, rgba(161,98,133,0) 100%);
   transition: 500ms ease;
}

.project-title {
   padding-top: 5px;
}

.portfolio p {
   text-align: center;
}

.portfolio button, .resume button {
   border: none;
   border-radius: 4px;
   background-color: transparent;
}

.portfolio button:hover {
   transition: 400ms ease;
   background-color: rgba(205,152,185, 0.7);
}

#github-v {
   width: 40px;
   height: 40px;
   padding: 2px 5px;
   margin: 0 8px;
   display: inline;
}
#codepen-v {
   width: 40px;
   height: 40px;
   padding: 4px 5px;
   margin: 0 8px;
   display: inline;
}

/* .carousel {
   position: relative;
   margin: 0 auto;
   width: 100vw;
   height: 100vh;
   border: 1px solid black;
}

.carousel-container {
   position: relative;
   padding: 20px;
   background-color: rgba(175, 156, 171,0.7);
   height: 100%;
}

.carousel-track {
   padding: 5px;
}

.carousel-slide {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 90vw;
}

.carousel-track img {
   width: 80vw;
   height: 100%;
   object-fit: scale-down;
}

.carousel-button {
   position: absolute;
   top: 50%;
   transform: translateY(50%);
   width:40px;
   padding: 10px;
   background-color: transparent;
   border: none;
}

.carousel-button:hover {
   background-color:rgba(205,152,185, 0.9);
} */ 

.contact {
   display: flex;
   flex-wrap: wrap;
   background-image: url(./assets/theme/pink-nebula.jpg);
   background-size: cover;
   padding:20px 0;
}
 .contact h3 {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
 }
.contact div {
   position: relative;
   background-color: rgba(175, 156, 171,0.4);
   border-radius: 4px;
   /* border: 1px solid rgba(205,152,185, 0.9); */
   width: 60vw;
   margin: 10px auto;
   padding: 10px;
}

.contact label {
   font-family: 'Karla', sans-serif;
   color: white;
   font-size: 0.8rem;
}

.contact input, .contact textarea {
   font-family: 'Karla', sans-serif;
   font-style: oblique;
   padding: 5px;
   margin: 3px;
   border: none;
   border-radius: 4px;
}

.contact textarea {
   width: 40vw;
}

.contact button {
   font-family: 'Fjalla One', sans-serif;
   padding: 5px 10px;
   border-radius: 4px;
   background-color: rgba(205,152,185, 0.7);
   border: none;
   position: absolute; 
   bottom: 10px;
   right: 10px;
}

.contact button:hover{
   background-color: rgba(122,58,96,0.7);
   color: white;
   transition: all 300ms ease;
}

.reach-out {
   position: relative;
}

.reach-out p {
   text-align: center;
   color: white;
   font-size: 1.1;
}

.resume {
   display: flex;
   width: 90vw;
   height: 100%;
   flex-direction: column;
   margin: 30px auto;
}

.resume div {
   margin: 10px;
   padding: 15px;
   border-radius: 4px;
   background-color: rgba(205,152,185, 0.4);
}

.job-title {
   font-size: 1.1rem;
   font-weight: 600;
   padding-bottom: 3px;
}

.company:hover {
   background-color: rgba(122,58,96,0.7);
   border-radius: 4px;
   padding: 2px 4px;
   color: white;
   transition: all 300ms ease;
}

.resume h5 {
   text-align: center;
   font-style: italic;
   font-size: 0.8rem;
}

.resume p {
   text-align: center;
   padding-top: 5px;
   line-height: 1.3;
}

.resume button:hover {
   transition: 400ms ease;
   background-color: rgba(205,152,185, 0.7);
}

.resume-button {
   width: 40px;
   padding: 2px 5px;
   margin: 0 8px;
   display: inline;
}

.personal {
   padding: 20px;
   margin-top: 15px;
   background-image: url(./assets/theme/galaxy-arms.jpg);
   background-size: contain;
   color: white;
}
.personal p {
   text-align: center;
   text-indent: 30px;
   line-height: 1.3;
   padding: 15px;
   padding-bottom: 20px;
}

/* .draws img {
   width: 400px;
} */

/* Mobile */
@media only screen and (max-width:767px) {
   .work, #qr-code {
      display: none;
   }
}

/* Tablette */
@media only screen and (min-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 1024px) {
   .contact div {
      width: 30vw;
   }
   .contact textarea {
      width: 20vw;
   }
   #qr-code {
      width: 80px;
      border-radius: 4px;
      position: absolute;
      bottom: 10px;
      right: 50%;
      transform: translateX(50%);
   }
}